<h4>Project Title: <%= @project.title %></h4>

<% if @project.volunteers %>
<ul>
    <% @project.volunteers.each do |volunteer| %>
    <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
</ul>
<% else %>
<p>There are no volunteers listed for this project yet.</p>
<% end %>


<h4>Add a volunteer:</h4>

<form action="/projects/<%= @project.id %>" method="post">
    <label>
        Volunteer Name
        <input name='name' type="text">
    </label>
    <button type="submit" class="btn btn-info btn-lg">Add volunteer</button>
</form>

<p><a href="/projects/<%= @project.id %>/edit">Edit project</a></p>
<a href="/projects">Return to project list</a>
